  - job_name: 'cadvisor'
    static_configs:
       - targets: ['YOUR_SERVER_IP_OR_HOSTNAME:8080']
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        target_label: "container_name"
      - source_labels: ['__meta_docker_container_id']
        target_label: "container_id"

  - job_name: 'docker-state-exporter'
    static_configs:
      - targets: [ 'YOUR_SERVER_IP_OR_HOSTNAME:8085' ]


  - job_name: 'demo-docker-server'
    static_configs:
       - targets: ['YOUR_SERVER_IP_OR_HOSTNAME:9100']