experimental:
  otlpLogs: true

accessLog:
  # Access log
  filePath: "/var/log/traefik/access.log"
  format: json
  bufferingSize: 100

  fields:
    defaultMode: keep
    headers:
      defaultMode: drop
      names:
        CF-Connecting-IP: keep
        X-Forwarded-For: keep
        X-Real-IP: keep
        CF-IPCountry: keep
        CF-Ray: keep
        User-Agent: keep
        Authorization: drop
        Cookie: drop

  # OTLP access logs -> Alloy
  otlp:
    grpc:
      endpoint: "Grafana-otel-lgtm_IP_OR_HOSTNAME:4317"
      insecure: true
    serviceName: "traefik"
    resourceAttributes:
      service.namespace: "edge"
      deployment.environment.name: "prod"


log:
  level: "INFO"
  format: "common"
  maxSize: 100
  maxBackups: 3
  maxAge: 3
  compress: true

  # OTLP Traefik internal logs -> Alloy
  otlp:
    grpc:
      endpoint: "Grafana-otel-lgtm_IP_OR_HOSTNAME:4317"
      insecure: true
    serviceName: "traefik"
    resourceAttributes:
      service.namespace: "edge"
      deployment.environment.name: "prod"



# OTLP metrics -> OTLP/gRPC -> Promthues -> Grafana
metrics:
  addInternals: true
  otlp:
    grpc:
      endpoint: "Grafana-otel-lgtm_IP_OR_HOSTNAME:4317"
      insecure: true
    serviceName: "traefik"
    resourceAttributes:
      service.namespace: "edge"
      deployment.environment.name: "prod"
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    # pushInterval defaults to 10s; set if you want:
    # pushInterval: "10s"

# OTLP tracing -> OTLP/gRPC -> Tempo -> Grafana
tracing:
  otlp:
    grpc:
      endpoint: "Grafana-otel-lgtm_IP_OR_HOSTNAME:4317"
      insecure: true
  sampleRate: 1.0
  serviceName: "traefik"
  resourceAttributes:
    service.namespace: "edge"
    deployment.environment.name: "prod"