experimental:
  otlpLogs: true

# OTLP access logs -> OTLP/gRPC-> Loki -> Grafana
otlp:
    grpc:
      endpoint: "Grafana-otel-lgtm_IP_OR_HOSTNAME:4317"
      insecure: true
    serviceName: "traefik"
    resourceAttributes:
      service.namespace: "edge"
      deployment.environment.name: "prod"



# OTLP metrics -> OTLP/gRPC -> Promthues -> Grafana
metrics:
  addInternals: true
  otlp:
    grpc:
      endpoint: "Grafana-otel-lgtm_IP_OR_HOSTNAME:4317"
      insecure: true
    serviceName: "traefik"
    resourceAttributes:
      service.namespace: "edge"
      deployment.environment.name: "prod"
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    # pushInterval defaults to 10s; set if you want:
    # pushInterval: "10s"

# OTLP tracing -> OTLP/gRPC -> Tempo -> Grafana
tracing:
  otlp:
    grpc:
      endpoint: "Grafana-otel-lgtm_IP_OR_HOSTNAME:4317"
      insecure: true
  sampleRate: 1.0
  serviceName: "traefik"
  resourceAttributes:
    service.namespace: "edge"
    deployment.environment.name: "prod"